<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>

    <title>Wintermead &sdot; Buttons</title>

    <link rel='stylesheet' href='../../assets/styles/default.css'>
  </head>

  <body>
    <h1>Winter<span class='accent'>mead</span></h1>

    <div class='wrapper'>
      <a href='../../'><button>Index</button></a>
    </div>

    <div class='wrapper'>
      <h2>Buttons</h2>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore quasi sequi facere, corporis distinctio autem maxime nihil, quaerat, delectus unde facilis ullam obcaecati minus numquam modi deleniti veniam aliquid cupiditate.
      </p>
    </div>

    <div class='container'>
      <div class='wrapper'>
        <h3>Default</h3>

        <button>Button</button>
        <a href='#'><button>Button</button></a>

        <pre class='prettyprint'>&lt;button&gt;Button&lt;/button&gt;
&lt;a href='#'&gt;Button&lt;/a&gt;</pre>
      </div>

      <div class='wrapper'>
        <h3>Secondary</h3>

        <button class='secondary'>Button</button>
        <a href='#'><button class='secondary'>Button</button></a>

        <pre class='prettyprint'>&lt;button class='secondary'&gt;Button&lt;/button&gt;
&lt;a href='#' class='secondary'&gt;Button&lt;/a&gt;</pre>
      </div>
    </div>

    <div class='footer'>
      <span>Created by <a href='https://elderlake.com'>Elderlake</a>.</span>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  </body>
</html>