@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700|Luckiest+Guy');

$font-primary: 'Oxygen', sans-serif;

$colour-background: #243b55;
$colour-border: rgba(255, 255, 255, 0.1);
$colour-border-light: rgba(0, 0, 0, 0.1);
$colour-primary: #eeeeee;
$colour-accent: #f09819;

$colour-error: rgba(250, 199, 33, 0.85);
$colour-focus: rgba(117, 188, 255, 0.85);
$colour-success: rgba(40, 221, 40, 0.85);
$colour-warning: rgba(247, 111, 77, 0.85);

$animation-speed: 0.12s;