<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>

    <title>Wintermead &sdot; Labels</title>

    <link rel='stylesheet' href='../../assets/styles/default.css'>
  </head>

  <body>
    <nav id='nav'>
      <a href='../../../'>
        <h1>Elderlake Developers</h1>
      </a>
    </nav>
    
    <h1>Wintermead Documentation</h1>
    
    <div class='wrapper'>
      <a href='../../'><button>Index</button></a>
    </div>

    <div class='wrapper'>
      <h2>Labels</h2>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore quasi sequi facere, corporis distinctio autem maxime nihil, quaerat, delectus unde facilis ullam obcaecati minus numquam modi deleniti veniam aliquid cupiditate.
      </p>
    </div>

    <div class='wrapper'>
      <h3>Primary</h3>

      <span class='label'>Draft</span>

      <span class='label error'>Rejected</span>

      <span class='label focus'>Status</span>

      <span class='label success'>Approved</span>

      <span class='label warning'>Pending</span>

      <pre class='prettyprint'><span class='label'>Draft</span>
<span class='label error'>Rejected</span>
<span class='label focus'>Status</span>
<span class='label success'>Approved</span>
<span class='label warning'>Pending</span></pre>
    </div>

    <div class='wrapper'>
      <h3>Secondary</h3>

      <span class='label secondary'>Draft</span>

      <span class='label secondary error'>Rejected</span>

      <span class='label secondary focus'>Status</span>

      <span class='label secondary success'>Approved</span>

      <span class='label secondary warning'>Pending</span>

      <pre class='prettyprint'><span class='label secondary'>Draft</span>
<span class='label secondary error'>Rejected</span>
<span class='label secondary focus'>Status</span>
<span class='label secondary success'>Approved</span>
<span class='label secondary warning'>Pending</span></pre>
    </div>

    <div class='wrapper'>
      <h3>Tertiary</h3>

      <span class='label tertiary'>Draft</span>

      <span class='label tertiary error'>Rejected</span>

      <span class='label tertiary focus'>Status</span>

      <span class='label tertiary success'>Approved</span>

      <span class='label tertiary warning'>Pending</span>

      <pre class='prettyprint'><span class='label tertiary'>Draft</span>
<span class='label tertiary error'>Rejected</span>
<span class='label tertiary focus'>Status</span>
<span class='label tertiary success'>Approved</span>
<span class='label tertiary warning'>Pending</span></pre>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src='../../assets/scripts/main.js'></script>
  </body>
</html>